* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 50px;
}

p {
    font-size: 30px;
    padding: 10px 0;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    margin: 50px 0 20px;
}

svg {
    border: 1px solid red;
}