* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 50px;
}

p {
    font-size: 30px;
    padding: 10px 0;
}

.pros-cons {
    padding-top: 100px;
}

.good {
    color: green;
}

.medium {
    color: orange;
}

.bad {
    color: red;
}